{
	servers {
		protocols h1 h2
	}
}

{$SITE_ADDRESS} {
	encode gzip
	rewrite /favicon.ico /favicon.png
	
	redir /windows.ps1 https://raw.githubusercontent.com/setup/gchait/main/Windows/prepare.ps1
	redir /fedora.sh https://raw.githubusercontent.com/setup/gchait/main/Fedora/prepare.sh

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
