{
	servers {
		protocols h1 h2
	}
}

{$SITE_ADDRESS} {
	encode gzip
	rewrite /favicon.ico /favicon.svg

	redir /eos.sh https://raw.githubusercontent.com/gchait/setup/main/EndeavourOS/prepare.sh
	redir /windows.ps1 https://raw.githubusercontent.com/gchait/setup/main/Windows/prepare.ps1
	redir /fedora.sh https://raw.githubusercontent.com/gchait/setup/main/Fedora/prepare.sh
	redir /ubuntu.sh https://raw.githubusercontent.com/gchait/setup/main/Ubuntu/prepare.sh

	root * /srv
	try_files {path} {path}/ /index.html
	file_server

	log {
		output stdout
	}
}
